.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 64px;
    height: 64px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
    transition: all 0.1s linear;
}

.burger:focus {
    outline: none;
}

.burger div {
    width: 64px;
    height: 8px;
    background: rgb(226, 235, 255);
    border-radius: 10px;
    transition: all 0.1s linear;
    position: relative;
    transform-origin: 1px;
}

#top-burger {
    transform: rotate(45deg);
    background-color: rgb(255, 255, 255);
}

#middle-burger {
    transform: translate(-500px);
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.2s linear;
}

#bottom-burger {
    transform: rotate(-45deg);
    background-color: rgb(255, 255, 255);
}
