.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(0, 21, 58);
    height: 100%;
    text-align: left;
    padding: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    transition: transform 0.2s ease-in-out;
    transform: translateX(+100%);
}
@media (max-width: 600px) {
    .burger-menu {
        width: 100%;
    }
}

.burger-menu a {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.3s linear;
}

.burger-menu a:hover {
    color: rgb(172, 202, 255);
}

@media (max-width: 600px) {
    .burger-menu {
        font-size: 1.5rem;
        text-align: center;
    }
}

.burger-menu.open {
    transform: translateX(0%);
}

.burger-menu a img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 32px;
    width: 32px;
}

.burger-menu-github {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
